name = "shorta-web"
main = ".open-next/worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Environment variables
[vars]
NEXT_PUBLIC_SUPABASE_URL = "https://dylimplqplexlbyqvhhk.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_1Q0JmK2vk09_azKYuV6Xvg_Bl10k3u_"
NEXT_PUBLIC_STRIPE_PAYMENT_LINK = "https://buy.stripe.com/28E5kk73g8lhc7f9P90kE00"
NEXT_PUBLIC_POSTHOG_KEY = "phc_f07AXjLIJZeWKaCuCLeAdZiIcIPhJk4Rzm9RcsRx81L"
NEXT_PUBLIC_POSTHOG_HOST = "https://us.i.posthog.com"
